@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background: #ffffff;
    padding-inline: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    font-size: 15px;
    color: #000000;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000000;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        display: none;
    }
    .navbar.show {
        display: flex;
    }
}

.navbar li {
    position: relative;
    margin-right: 20px;
}

.navbar li a {
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fa4800;
    transition: width 0.3s ease;
}

.navbar li:hover::after {
    width: 100%;
}

.navbar li a:hover {
    color: #fa4800;
}

.banner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0.7;
}

.texto-boas-vindas {
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    z-index: 2;
}

.texto-boas-vindas h2 {
    font-size: 0.7em;
    color: #fff8ff;
}


.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #fa4800;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 0.7em;
}

.btn:hover {
    background-color: #d63a00;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #fa4800;
}

.btn-outline:hover {
    background-color: #d63a00;
    border-color: #d63a00;
}

.btn-dark {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #171717;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 0.9em;
    cursor: pointer;
  }

  .btn-dark:hover {
    background-color: #B31A1B;
  }

  .btn-outline-dark {
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #B31A1B;
  }

  .btn-outline-dark:hover {
    background-color: #B31A1B;
    border-color: #B31A1B;
  }

  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .left-side {
    flex: 1;
    background-color: #e01b1b;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-side {
    flex: 1;
    background-color: #e01b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    max-width: 600px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  .left-text h1 {
    margin: 0;
    font-size: 2em;
    white-space: nowrap;
    text-align: left;
  }

  .left-text h2 {
    margin-top: 10px;
    font-size: 1em;
    font-weight: normal;
    white-space: normal;
  }

  .left-text ul {
    list-style: none;
    padding: 0;
  }

  .left-text ul li {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
  }

  .left-text ul li::before {
    content: "•";
    color: black;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1em;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .subtitle h2 {
    font-weight: 500;
  }

  .title-img {
    width: auto;
    height: 80px;
    margin-right: 10px;
  }

  .truck-img {
    width: 700px;
    height: auto;
  }

  .conteudo-oculto {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .conteudo-visivel {
    max-height: 500px;
    transition: max-height 0.5s ease;
  }

  @media (max-width: 750px) {
    .container {
      flex-direction: column;
    }

    .left-side {
      flex: none;
      width: 100%;
    }

    .right-side {
      display: none;
    }

    .left-text {
      padding: 10px;
      max-width: 100%;
      margin: 0;
    }

    .left-text h1 {
      font-size: 1.5em;
      text-align: center;
    }

    .left-text h2 {
      font-size: 0.9em;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
}

.servicos {
    padding: 40px 20px;
    background-color:  white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .text-servicos {
    margin-bottom: 50px;
  }

  .linha-vermelha {
    width: 100px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
  }

  .card-table {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
    width: 100%;
  }

  .table-wrapper {
    max-height: 400px;
    overflow-y: auto;
  }

  .servicos-tabela {
    width: 100%;
    border-collapse: collapse;
  }

  .servicos-tabela th, .servicos-tabela td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
  }

  .servicos-tabela th {
    background-color:  #fa4800;
    color: white;
  }

  .servicos-tabela td {
    background-color: white;
    color: #333;
  }

  .servicos-tabela tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .servicos-tabela tr:hover {
    background-color: #ddd;
  }

  @media (max-width: 750px) {
    .servicos {
        height: auto;
    }

    .table-wrapper {
        max-height: 300px;
    }
  }

.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    background-color: #171717;
    color: #ffffff;

}

.content-contact {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.right {
    flex: 1;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #212121;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #B31A1B;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

.contact-form label {
    font-weight: bold;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3F3F3F;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1D1D1D;
    color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #B31A1B;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.btn-submit {
    background-color: #e01b1b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 10px;
}

.btn-submit:hover {
    background-color: #B31A1B;
}


.mail-img {
    width: 400px;
    height: auto;
}

.linha-vermelha {
    width: 100px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
}

.error-message {
    font-size: 13px;
    color: #B31A1B;
    margin-top: 5px;
}

.success-message {
    margin-top: 20px;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .content-contact {
      flex-direction: column;
      align-items: center;
    }

    .left {
      display: none;
    }

    .right {
      width: 100%;
    }

    .card {
      width: 100%;
      margin: 0;
    }
  }

@media (max-width: 1000px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .left {
        display: none;
    }
    .right {
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 0;
    }

    .mail-img {
        display: none;
    }
}

.conteudo-oculto {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.conteudo-visivel {
    max-height: 500px;
    transition: max-height 0.5s ease;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #B31A1B
}

.gallery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
}

.linha-preta {
    width: 100px;
    height: 4px;
    background-color: #171717;
    margin: 10px auto;
}


.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    height: 400px;
    border-radius: 5px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 80px;
    width: 100%;
    color: white;
    background-color: rgba(179, 26, 27, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align:center;

}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

